$spacing: 1em;
$spacingHalf: $spacing * .5;
$pageTop:  $spacing * 4;
$cPrimary: #007bff;
$cSecondary: #6c757d;
$cSuccess: #28a745;
$cDanger: #dc3545;
$cWarning: #ffc107;
$cInfo: #17a2b8;

h3{
  margin-bottom: $spacing;
}



.clickable {
  cursor: pointer;
}

.tdDrillDown{
  @extend .clickable;
  border-bottom: 1px dashed $cInfo;
}

.tdShrinkToFit{
  white-space: nowrap;
  width: 1%;
  font-weight: bold;
  background-color: $cInfo;
  color: white;
}

.wrapper{
  margin-top: $pageTop;
  .fas{
    @extend .clickable;
    padding: 0 $spacingHalf 0 $spacingHalf;
  }
  .fa-edit, .fa-play{
    //margin-right: 10px;
    color: $cSuccess;
  }
  .fa-trash, .fa-stop{
    color: $cDanger;
  }
}

.ModelHome{
  button{
    float: right;
    margin-right: $spacing;
  }
}

.PLogin{
  .cardWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card{
    width: 400px;
    .card-body{
      input{
        margin-top: $spacing;
      }
      button{
        margin-top: $spacing;
        float:right;
      }
    }
  }
}

.card-footer{
  span{
    @extend .clickable;
    text-align: right;
    float: right;
  }
}

.warriorReportCard{
  margin-bottom: $spacing;
  h5{
    margin-top: $spacing;
  }

}