h3 {
  margin-bottom: 1em;
}

.clickable, .card-footer span, .wrapper .fas, .tdDrillDown {
  cursor: pointer;
}

.tdDrillDown {
  border-bottom: 1px dashed #17a2b8;
}

.tdShrinkToFit {
  white-space: nowrap;
  width: 1%;
  font-weight: bold;
  background-color: #17a2b8;
  color: white;
}

.wrapper {
  margin-top: 4em;
}
.wrapper .fas {
  padding: 0 0.5em 0 0.5em;
}
.wrapper .fa-edit, .wrapper .fa-play {
  color: #28a745;
}
.wrapper .fa-trash, .wrapper .fa-stop {
  color: #dc3545;
}

.ModelHome button {
  float: right;
  margin-right: 1em;
}

.PLogin .cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PLogin .card {
  width: 400px;
}
.PLogin .card .card-body input {
  margin-top: 1em;
}
.PLogin .card .card-body button {
  margin-top: 1em;
  float: right;
}

.card-footer span {
  text-align: right;
  float: right;
}

.warriorReportCard {
  margin-bottom: 1em;
}
.warriorReportCard h5 {
  margin-top: 1em;
}

/*# sourceMappingURL=style.css.map */
